.dateListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-content: center;
  height: 100%;
  padding-left:1em;
  padding-right:1em;
  

}

.light-button {
  border-radius: 10px;
  padding: 0.5em;
}
.light-button:hover {
  background: rgb(79, 33, 158);
  
}