.unselected-dog {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  padding:0.5em;
  // margin:3px;
}
.selected-dog {
  // border: 2px solid rgb(79, 33, 158);
  border: 4px solid #957bf5;
}

