nav {
  height: 3em;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 1em;
  background: rgb(61, 24, 125);
}

.menu {
  border:solid 1px;
  margin-bottom: 1.5em
}

.purple-button:hover {
  background:rgb(79, 33, 158);
  border-radius: 10px;
}