.profile_editor_container {
  padding: 4;
  text-align: center;
}

.profile_editor {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid grey;

}

.editor-buttons {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  
}

// .editor_controls {
//   display: flex;
//    justify-content: center;
//    align-items: center;
// }

@media (max-width: 600px) {
  .profile_editor {
    display: flex;
    flex-wrap: wrap;
  }
   .editor-buttons {
     display: flex;
     justify-content: center;
     align-items: center;

   }
}
@media (min-width: 400px) {
  .editor_controls {
    display: flex
  }
 
}