.walk-form-container {
    height: 100%;
    padding: 1em;
    // box-shadow: rrgb(61, 24, 125) 5px 10px;
    box-shadow: rgb(61, 24, 125) 5px 10px;
    border-radius: 10px;
    background:rgb(79, 33, 158);
}

.dog-form-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // padding-bottom: 1rem;
}

.walk-form-date {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
}

.walk-form-img-class {
display: flex;
justify-content: space-between;
border-radius: 50%;
height: 70px;
width: 70px
}

.walk-request-buttons {
  padding-bottom: 0.6em;
}

.cancel-request-button {
  padding-right:0.25em
}
