.dog-form-controls {
  display: flex;
  justify-content: space-between;
  height: 50%
}

.walk-form-date {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height: 50%
}

.walk-request-buttons {
  margin-top: 1.5em;
  margin-right:.5em;
}