.admin-client-button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-client-button--single {
  // Single dog uses same dimensions as AdminDog
}

.admin-client-button--multiple {
  border-radius: 50%;
  overflow: visible; // Allow overlapping images to be visible
}

.admin-client-image {
  display: block;
  border: none;
  object-fit: cover;
}

.admin-client-image--single {
  width: 128px;
  height: 128px;
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
}

.admin-client-images-container {
  display: flex;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: visible;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.admin-client-image--multiple {
  width: 128px;
  height: 128px;
  min-width: 128px;
  min-height: 128px;
  max-width: 128px;
  max-height: 128px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  position: absolute;
  
  // First image at the start
  &:nth-child(1) {
    left: 0;
    z-index: 2;
  }
  
  // Second image overlaps first by ~50% (64px)
  &:nth-child(2) {
    left: 64px; // Overlaps first image by half (64px)
    z-index: 1;
  }
  
  // Third image overlaps second by ~50%
  &:nth-child(3) {
    left: 64px;
    z-index: 0;
  }
  
  // For 4+ dogs, continue the pattern
  &:nth-child(n+4) {
    left: 64px;
    z-index: -1;
  }
}
