.tableHeading {
  margin-left: 1em;
}

.paidFor-accepted{
  background-color: rgba(4, 132, 4, 0.522);
  padding:0.5em;
  border-color: grey;
  border-width: thin;
  border-radius: 45%;
}

.notPaidFor-notAccepted {
background-color: rgba(246, 39, 39, 0.48);
padding:0.5em;
border-color: grey;
border-width: thin;
border-radius: 45%;
}

.walkRequest-container {
  background-color: rgb(61, 24, 125);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 45%;
  margin: 0.5em;
  border-radius: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.5em;
}

.button-list-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}

.back-icon {
  margin-right: 1em;
}

.back-icon:hover {
  background: rgb(61, 24, 125);
}
.purple-button:hover {
  background: rgb(61, 24, 125);
}

.light-button {
  background: rgb(61, 24, 125);
  margin:0.5em;
  border-radius: 10px;
  padding: 0.5em;
}

.light-button:hover {
  background:rgb(79, 33, 158);
}