.tableHeading {
  margin-left: 1em;
}

.paidFor-accepted{
  background-color: rgba(4, 132, 4, 0.522);
  padding:0.5em;
  border-color: grey;
  border: solid;
  border-radius: 45%;
}

.notPaidFor-notAccepted {
background-color: rgba(246, 39, 39, 0.48);
padding:0.5em;
border-color: grey;
border: solid;
border-radius: 45%;
}