.walkRequest-container {
  background-color: rgb(61, 24, 125);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-content: center;
  padding-left:1em;
  padding-right: 1em;

  height: 45%;
  margin:0.5em;
  border-radius: 5px;
}