html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: #1e1b4b;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  height: 100%;
  background-color: #1e1b4b;
}

main {
  color: grey;
  min-height: 100vh;
  background-color: #1e1b4b;
}
