.Auth {
   display: flex;
   text-align: center;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   background-color: #1e1b4b;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
}

.auth-button {
  border: none;
  background: rgb(61, 24, 125);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: grey;

}

.auth-button:hover {
  background:rgb(79, 33, 158);
}

.link-btn {
  background: none;
  border: none;
  color: slategray;
  text-decoration: underline;
  padding: 20px;
}

